*{
    margin: 5px;
    margin-top: 2px;
}
body{
    background-color: rgb(29, 55, 75);
}

header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: absolute;
    z-index: 100;
  }

nav {
    float: left;
  }

nav ul {
    list-style: none;
    overflow: hidden; 
  }

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
}
nav ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
nav ul li:hover {
    background: #eca023;
}

img {
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    display: block;
  }
  